@charset "UTF-8";
@font-face {
  font-family: 'alternate_gothic_no1_dregular';
  src: url("../fonts/alternate_gothic_no1_d-webfont.eot");
  src: url("../fonts/alternate_gothic_no1_d-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alternate_gothic_no1_d-webfont.woff") format("woff"), url("../fonts/alternate_gothic_no1_d-webfont.ttf") format("truetype"), url("../fonts/alternate_gothic_no1_d-webfont.svg#alternate_gothic_no1_dregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura_ltcn_btlight';
  src: url("../fonts/futuralc-webfont.eot");
  src: url("../fonts/futuralc-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralc-webfont.woff") format("woff"), url("../fonts/futuralc-webfont.ttf") format("truetype"), url("../fonts/futuralc-webfont.svg#futura_ltcn_btlight") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3 {
  font-family: "futura_ltcn_btlight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-shadow: #3502ff 0px 1px 2px; }

h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em; }

h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 80%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  display: block;
  line-height: 1.1em; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 64px;
  clear: none; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 24px; }

h6 {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 1.25em;
  margin-top: 1px; }

a {
  color: #a0a0a0;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #6d6d6d; }

main article {
  display: none; }

main.all .collaboration, main.all .recent, main.all .works, main.all .talks {
  display: block; }

main.recent .recent {
  display: block; }

main.collaboration .collaboration {
  display: block; }

main.works .works {
  display: block; }

main.talks .talks {
  display: block; }

main.about .about {
  display: block; }

body {
  background: #f5f5f5;
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  color: #1c1c1c;
  background-repeat: repeat;
  background-attachment: scroll;
  margin: 4rem;
  max-width: 1096px;
  margin-left: 8vw;
  height: 100%;
  position: absolute; }

nav label span {
  cursor: pointer;
  border-radius: 0.1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: 1px solid #8668ff; }

nav label input {
  appearance: none; }

nav label input:checked + span {
  background-color: #f5f5f5;
  border: 2px solid #3502ff;
  color: #1c1c1c; }

.projectsHeader {
  margin-top: 1em;
  width: 100%;
  color: #efefef;
  margin-bottom: -0.5em; }

#titlePiece {
  margin-top: 2rem; }
  #titlePiece h1 a {
    color: #e3ddd1; }
    #titlePiece h1 a:hover {
      border-bottom: none;
      color: #6d6d6d; }
  #titlePiece .tilde {
    font-size: 25px;
    position: relative; }

#twitter-link,
#github-link {
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block !important;
  margin-top: 10px;
  float: left;
  margin-right: 0.5em; }

#twitter-link {
  background-image: url("../images/twitter.svg"); }

#github-link {
  background-image: url("../images/github.png"); }

#titleContact {
  margin-left: 15px; }

@media (min-width: 992px) {
  /* line 52, ../../src/scss/_title.scss */
  #titleContact {
    position: absolute;
    left: 710px;
    margin-right: 0; } }

#titleContact h2 {
  margin-bottom: 9px;
  font-size: 34px;
  color: #e3ddd1; }

#titleContact h6 {
  color: #8c8c8c; }

#contentArea {
  margin-top: 1em; }

#contentSelection {
  color: #CCC;
  /*padding-left: 8px;*/
  /*border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;*/
  margin-top: 1em; }

#contentList {
  clear: both; }
  #contentList h4 {
    font-size: 24px;
    margin-top: 1px; }

#introText h6 {
  color: #8c8c8c; }

header p {
  width: 25%;
  min-width: 400px; }

main {
  margin-top: 4rem; }

article {
  padding-top: 1em;
  border-top: 1px solid #1b1b1b; }
  article input[type="checkbox"].showContent {
    appearance: none;
    width: 100%;
    height: 5em;
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 1000; }
    article input[type="checkbox"].showContent:hover::after {
      content: "⇢";
      color: #1c1c1c;
      position: absolute;
      left: -2em;
      top: 1.5em;
      transition: all 0.2s ease-out;
      opacity: 1; }
    article input[type="checkbox"].showContent:checked:hover:after {
      transform: rotate(-90deg);
      opacity: 0.5; }
    article input[type="checkbox"].showContent:checked ~ section {
      max-height: 100vh; }
  article header {
    width: auto;
    position: relative; }
    article header h3 {
      display: block;
      text-transform: uppercase; }
    article header summary {
      position: relative; }
    article header ol {
      position: absolute;
      left: 50%;
      top: 0;
      margin: 0; }
      article header ol li {
        list-style-type: none;
        font-size: 1em; }
  article > section {
    display: inline-block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 1em; }
    article > section > section {
      width: 40%;
      float: left; }
      article > section > section img,
      article > section > section iframe {
        width: 90%; }
      article > section > section p {
        margin-top: 0;
        margin-bottom: 2em; }
      article > section > section p.small {
        font-size: 0.75em; }
