main article {
  display: none; }

main.all .collaboration, main.all .recent, main.all .works, main.all .talks {
  display: block; }

main.recent .recent {
  display: block; }

main.collaboration .collaboration {
  display: block; }

main.works .works {
  display: block; }

main.talks .talks {
  display: block; }

main.about .about {
  display: block; }
