@import "./colours.scss";
@import "./typography.scss";
@import "./nav-functionality.scss";
@import "./nav-layout.scss";
@import "./article.scss";
@import "./site-header.scss";
@import "./slideshow.scss";
@import "./blogpost.scss";
@import "./single-article.scss";

body,
html {
	background: $backgroundColor;

	width: 100%;
	margin: 0;
	padding: 0;

	height: 100%;
	position: absolute;
}

ul,
ol,
li {
	list-style: none !important;
}

.container {
	z-index: 2;
	position: absolute;
	height: 100%;
	// background-image: repeating-linear-gradient(299deg, #343434 0%, #1c1c1c 50%, black 75%, #0b1320 100%);
	background-repeat: repeat;
	background-attachment: scroll;

	margin: 3em;
	// max-width: 1096px;

	margin-left: 8vw;
	width: 100%;

	@media (max-width: 1024px) {
		margin-left: 1em;
		margin-right: 1em;
		width: calc(100% - 2em);
	}

	@media (min-width: 1024px) {
		margin-left: 13em;
		width: calc(100% - 14em);
		max-width: 80vw;
	}
	footer {
		padding-bottom: 2em;
	}
}

#splashVideo,
#video-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0.5;
	z-index: 0;
}
#video-overlay {
	background-image: url(../images/video-overlay.png),
		linear-gradient(
			to bottom,
			transparent 0%,
			rgba(28, 28, 28, 0.2) 75%,
			black 100%
		);
	background-size: 2px 2px, 100% 100%;
	background-repeat: repeat, no-repeat;
	opacity: 1;
}

@media (max-width: 1024px) {
	#splashVideo {
		display: none;
	}
}

main {
	margin-top: 4rem;
	overflow: hidden;

	> section {
		margin-bottom: 2em;

		header {
			p {
				clear: both;
			}
		}

		// > h6 {
		//     float:left;
		//     clear:both;
		//     display: block;
		// }

		> .article-collection {
			clear: both;
		}
	}
}
