@import './colours.scss';
@import './typography.scss';
@import './nav.scss';
@import './slideshow.scss';

// $backgroundColor: #1c1c1c;
// $textColor: #dbdad8;

body,
html {
    background: $backgroundColor;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    color: $textColor;
    width: 100%;
    margin: 0;
    padding: 0;

    height: 100%;
    position: absolute;
}

ul,
li {
    list-style: none !important;
}

.container {
    z-index: 2;
    position: absolute;
    height: 100%;
    // background-image: repeating-linear-gradient(299deg, #343434 0%, #1c1c1c 50%, black 75%, #0b1320 100%);
    background-repeat: repeat;
    background-attachment: scroll;

    margin: 4rem;
    max-width: 1096px;
    margin-left: 8vw;
    width: 100%;

    @media (max-width: 1024px) {
        margin-left: 1em;
        margin-right: 1em;
        width: calc(100% - 2em);
    }
}

#splashVideo,
#video-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.75;
    z-index: 0;
}
#video-overlay {
    background-image: url(../images/video-overlay.png),
        linear-gradient(
            to bottom,
            transparent 0%,
            rgba(28, 28, 28, 0.2) 75%,
            black 100%
        );
    background-size: 2px 2px, 100% 100%;
    background-repeat: repeat, no-repeat;
    opacity: 1;
}

@media (max-width: 1024px) {
    #splashVideo {
        display: none;
    }
}

nav {
    margin-left: 0.2em;
    margin-top: 3em;
    margin-bottom: 3em;
    float: left;
    label {
        margin-right: 1em;
        float: left;
        height: 4em;
        display: block;
        span {
            cursor: pointer;
            // background-color: $textColor;
            // border-radius: 0.1em;
            // padding: 0.3em 0.5em 0.3em 0.5em;
            padding: 0.3em 0 0em 0;
            margin-right: 1em;
            // color:$backgroundColor;
            // border: 1px solid lighten($highlightColor, 20);
            // border:1px solid darken(white, 20);

            color: black;
            font-family: 'Josefin Sans';
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 44px;
        }

        &:nth-of-type(4n) span {
            color: $c0;
        }
        &:nth-of-type(4n + 1) span {
            color: $c1;
        }
        &:nth-of-type(4n + 2) span {
            color: $c2;
        }
        &:nth-of-type(4n + 3) span {
            color: $c3;
        }

        // &:nth-of-type(0) span { background-color: $c0; }
        // &:nth-of-type(1) span { background-color: $c1; }
        // &:nth-of-type(2) span { background-color: $c2; }
        // &:nth-of-type(3) span { background-color: $c3; }
        // &:nth-of-type(4) span { background-color: $c4; }
        // &:nth-of-type(5) span { background-color: $c1; }
        // &:nth-of-type(6) span { background-color: $c2; }
        // &:nth-of-type(7) span { background-color: $c3; }
        // &:nth-of-type(8) span { background-color: $c4; }

        input {
            appearance: none !important;
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            margin-left: -1em;
        }

        input:checked + span {
            // background-color: $backgroundColor;
            // border: 2px solid white;
            // color: $textColor;

            border-bottom: 2px solid white;
        }
    }

    @media (max-width: 1024px) {
        text-align: center;
        label {
            height: 3em;
            margin-left: auto;
            margin-right: auto;
            span {
                font-size: 24px;
            }
        }
    }
}

.projectsHeader {
    margin-top: 1em;
    width: 100%;
    color: #efefef;
    margin-bottom: -0.5em;
}

#titlePiece {
    margin-top: 2rem;

    h1 a {
        color: #e3ddd1;

        &:hover {
            border-bottom: none;
            color: #6d6d6d;
        }
    }

    .tilde {
        font-size: 25px;
        position: relative;
    }
}

.social-link {
    color: transparent;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block !important;
    margin-top: 10px;
    float: right;
    margin-right: 0.5em;
}

@media (max-width: 1024px) {
    .social-link {
        float: left;
    }
}

#twitter-link {
    background-image: url('../images/twitter.svg');
}

#github-link {
    background-image: url('../images/github.png');
}

#instagram-link {
    background-image: url('../images/instagram.svg');
}

#titleContact {
    margin-left: 15px;
}

@media (min-width: 992px) {
    /* line 52, ../../src/scss/_title.scss */
    #titleContact {
        position: absolute;
        left: 710px;
        margin-right: 0;
    }
}

#titleContact {
    h2 {
        margin-bottom: 9px;
        font-size: 34px;
        color: #e3ddd1;
    }
}

#titleContact h6 {
    color: #8c8c8c;
}

#contentArea {
    margin-top: 1em;
}

#contentSelection {
    color: #ccc;
    /*padding-left: 8px;*/
    /*border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;*/
    margin-top: 1em;
}

#contentList {
    clear: both;

    h4 {
        font-size: 24px;
        margin-top: 1px;
    }
}

#introText h6 {
    color: #8c8c8c;
}

header {
    h1 {
        margin-left: -25px;
        animation: colourCycle 60s infinite;
    }
    p {
        width: 25%;
        min-width: 400px;
    }

    aside {
        position: absolute;
        right: 0;
        text-align: right;
    }

    @media (max-width: 1024px) {
        overflow: hidden;

        > p {
            display: none;
        }

        aside {
            position: static;
            text-align: left;
            opacity: 0.5;
            display: block;
            float: left;
            margin-bottom: 1em;
            p {
                margin: 0;
            }
        }
    }
}

main {
    margin-top: 4rem;

    > section {
        margin-bottom: 2em;
    }
}

article {
    padding-top: 1em;
    border-top: 1px solid darken($textColor, 0.5);
    overflow: hidden;

    input {
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
    }

    input[type='checkbox'].showContent {
        width: 100%;
        height: 6.5em;
        display: block;
        position: absolute;
        cursor: pointer;
        z-index: 1000;
        margin: 0;

        &:hover {
            &::after {
                content: '⇢';
                font-family: 'Open Sans';
                color: $textColor;
                position: absolute;
                left: -2em;
                top: 1.5em;
                transition: all 0.2s ease-out;
                opacity: 1;
            }
        }

        &:checked {
            &:hover:after {
                transform: rotate(-90deg);
                opacity: 0.5;
            }

            ~ section {
                display: inline-block;
                max-height: 800vh;
            }

            border-bottom: 1px dotted darken($textColor, 75);
        }
    }

    @media (max-width: 1024px) {
        input[type='checkbox'].showContent {
            height: 8.5em;
            &:checked {
                border-bottom: none;
            }
        }
    }

    // & header h4 { color: $c2; }
    // &:nth-of-type(2n) header h4 { color:darken($textColor, 20)}
    // &:nth-of-type(4n+1) header h4 { color: $c1; }
    // &:nth-of-type(4n+2) header h4 { color: $c2; }
    // &:nth-of-type(4n+3) header h4 { color: $c3; }
    // &:nth-of-type(5n+4) header h4 { color: $c4; }

    header {
        width: auto;
        position: relative;
        margin-bottom: 1em;

        h4 {
            display: block;
            // text-transform: uppercase;
        }

        summary {
            position: relative;
        }

        ol {
            position: absolute;
            left: 50%;
            top: -0.25em;
            margin: 0;

            li {
                list-style-type: none;
                font-size: 1em;
                &:nth-of-type(3) {
                    display: none;
                }
            }
        }

        @media (max-width: 1024px) {
            ol {
                display: block;
                position: static;
                padding: 0;
                margin-top: 0.25em;
                margin-bottom: 1.75em;
                padding-bottom: 1.75em;
                opacity: 0.5;

                li {
                    float: left;
                    margin-right: 1em;
                }
            }
        }
    }

    & > section {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 100%;
        border-bottom: 1px dotted darken($textColor, 75);

        h4 {
            margin-bottom: 1em;
            width: 60%;
            line-height: 1.3em;
        }

        img,
        video {
            width: 100%;
            height: auto;

            &.small {
                width: 20%;
            }
        }
        img,
        iframe,
        video {
            margin-bottom: 1em;
            // padding-top:0.5em;
            // padding-bottom:0.5em;

            // border: 1px solid white;
        }

        .video-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            margin-bottom: 0.5em;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        p {
            margin-top: 1em;
            margin-bottom: 2em;
            float: left;

            font-weight: 100;

            @media (min-width: 1024px) {
                width: 40%;
                margin-right: 5em;
            }
        }

        p.small {
            font-size: 0.75em;
        }

        &:first-of-type {
            margin-top: 2em;
        }
        &:last-child {
            margin-bottom: 2em;
        }

        @media (min-width: 1024px) {
            // width: 95%;
            // margin-right: 1em;
        }

        @media (max-width: 1024px) {
            width: 100%;

            h4 {
                font-size: 24px;
                width: 100%;
            }

            iframe {
                max-width: 98%;
                padding: 0;
            }
        }
    }

    // show when about is selected

    main.about section.about & {
        display: block;
    }
}
