@import "./colours.scss";

nav {
	// large screen layout - fixed on left hand side
	@media (min-width: 1280px) {
		// padding-top: 1em;
		float: left;
		width: 100%;
		position: fixed;
		width: 8.5em;
		left: 1em;
		top: 3em;

		#nav-toggle {
			display: none;
		}

		label {
			clear: both;
			width: 100%;
			margin-bottom: 1.15em;
			text-align: right;

			span {
				height: auto;
				display: block;
			}
		}
	}

	// make sure all inputs are neutral-looking
	input {
		appearance: none !important;
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
	}

	label {
		margin-right: 1em;
		float: left;
		display: block;
		// width:8em;

		span {
			cursor: pointer;

			padding: 0;

			color: $textColor;
			opacity: 0.75;
			font-size: 1.1em;

			&:hover {
				opacity: 1;
			}
		}

		// &:nth-of-type(4n) span {
		// 	color: $c0;
		// }
		// &:nth-of-type(4n + 1) span {
		// 	color: $c1;
		// }
		// &:nth-of-type(4n + 2) span {
		// 	color: $c2;
		// }
		// &:nth-of-type(4n + 3) span {
		// 	color: $c3;
		// }

		// &:nth-of-type(0) span { background-color: $c0; }
		// &:nth-of-type(1) span { background-color: $c1; }
		// &:nth-of-type(2) span { background-color: $c2; }
		// &:nth-of-type(3) span { background-color: $c3; }
		// &:nth-of-type(4) span { background-color: $c4; }
		// &:nth-of-type(5) span { background-color: $c1; }
		// &:nth-of-type(6) span { background-color: $c2; }
		// &:nth-of-type(7) span { background-color: $c3; }
		// &:nth-of-type(8) span { background-color: $c4; }

		input:checked + span {
			// background-color: $backgroundColor;
			// border: 2px solid white;
			// color: $textColor;
			font-weight: bold;
			// border-bottom: 2px solid $highlightColor;
		}
	}

	// small screen layout - hamburger menu
	@media (max-width: 1024px) {
		position: fixed;
		top: 2em;
		right: 2em;
		background: rgba(0, 0, 0, 0.75);
		z-index: 99999;
		text-align: right;

		#hamburger-lines {
			float: right;
			span {
				display: block;
				height: 0.2em;
				width: 2em;
				// background-color: $textColor;
				border-top: 1px solid $textColor;
				margin-top: 0.1em;
				transition: all 0.5s;
			}
			margin-bottom: 1em;
		}

		#nav-toggle {
			position: absolute;
			right: 0;
			display: block;
			text-align: right;
			width: 2em;
			height: 1.2em;
			float: right;
			z-index: 99999;
			cursor: pointer;

			// make the input work
			&:checked ~ label {
				display: block;
			}

			// update hamburger appearance
			&:checked ~ #hamburger-lines span {
				margin-top: 0.2em;
				border-top: 1px solid rgba(255, 255, 255, 0.2);
			}
		}

		& label {
			display: none;

			// height: 0.5em;
			width: 100%;
			clear: both;
			margin-left: auto;
			margin-right: auto;
			padding-right: 2em;
			margin-bottom: 1em;
			// span {
			// 	font-size: 24px;
			// }
		}
	}
}
