@import "./colours.scss";

.single-article {
	.container {
		margin: 0;
		max-width: 100vw;
		width: 100%;
	}

	.header-image {
		position: absolute;
		z-index: -1;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.gradient {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 1) 100%
			);
		}
	}

	article {
		display: block;
		width: 100%;
		max-width: 70vw;
		margin-left: 13vw;
		margin-top: 3em;

		header {
			width: 100%;
		}

		@media (min-width: 1025px) {
			section {
				width: 40%;
				float: left;
				margin-right: 2em;
				margin-bottom: 2em;

				&.full-width,
				&:first-of-type {
					width: 100%;
					margin-top: 0 !important;
				}

				&:nth-of-type(2n + 1) {
					margin-top: 3em;
				}

				&.small {
					font-size: 0.75em;
				}
			}
		}

		section {
			img {
				width: 100%;
				height: auto;
			}

			.video-wrapper {
				width: 100%;
				// height: 75vh;
                height: auto;

				position: relative;
				display: block;
			}

			.horizontal-image-list {
				a {
					text-decoration: none;
					border: none;
				}

				img {
					height: 5rem;
					width: auto;
					float: left;
					margin-right: 2rem;
					margin-bottom: 1em;
				}
			}
		}

		footer {
			display: block;
			clear: both;
			margin-top: 2em;
		}
	}
}
