---
title: Blogpost
---

<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>Owen Hindley | {{ title }}</title>
    <meta name="description"
	content="Owen Hindley is a digital artist creating experiences for VR, theatre, installations, games, performance and the web using software, electronics and sound.">
    <meta name="author" content="Owen Hindley">
    <meta property="og:url" content="http://www.owenhindley.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Owen Hindley">
    <meta property="og:image" content="http://www.owenhindley.co.uk/images/thumb/{{ id }}.jpg">
    <meta property="og:description"
	content="Owen Hindley is a digital artist creating experiences for VR, theatre, installations, games, performance and the web using software, electronics and sound.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Owen Hindley Portfolio">
    <meta name="twitter:description"
	content="Owen Hindley is a digital artist creating experiences for VR, theatre, installations, games, performance and the web using software, electronics and sound.">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/bio5jjx.css">

    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body class="single-article">
    <div class="container">

        <nav>
            <label onclick="history.back()">
                <input type="radio" name="nav"></input>
                <span>Back</span>
            </label>
        </nav>
        {# 
        <div class="header-image">
            <div class="gradient"></div>
            <img src="../images/projects/thumbs/{{id}}-thumb.jpg" class="thumbImg"/>
        </div> #}

        <div class="single-article">

            <article>

                <header>
                    <p>{{title}} - {{summary}}</p>
                </header>
                {{ content | safe }}

                <footer>
                    <p>© Owen Hindley, {% year %}</p>

                </footer>
            </article>

        </div>

    </div>
</body>
</html>