<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>Owen Hindley | Digital Artist &amp; Creative Technologist</title>
    <meta name="description"
	content="Owen Hindley is a digital artist creating experiences for VR, theatre, installations, games, performance and the web using software, electronics and sound.">
    <meta name="author" content="Owen Hindley">
    <meta property="og:url" content="http://www.owenhindley.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Owen Hindley">
    <meta property="og:image" content="http://www.owenhindley.co.uk/images/sharing-image.jpg">
    <meta property="og:description"
	content="Owen Hindley is a digital artist creating experiences for VR, theatre, installations, games, performance and the web using software, electronics and sound.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Owen Hindley Portfolio">
    <meta name="twitter:description"
	content="Owen Hindley is a digital artist creating experiences for VR, theatre, installations, games, performance and the web using software, electronics and sound.">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/bio5jjx.css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <script>
        function OnNavChange(e) {
            var main = document.querySelector('main')
            main.className = e;
            //main.scrollIntoView({behavior: "smooth"});
        }

        function GoToBlogpost(name) {
            document.location.href = document.location.origin + "/blogposts/" + name
        }

        var videoElement;
        document.addEventListener("DOMContentLoaded", function () {
            videoElement = document.getElementById('splashVideo');
            document.addEventListener('scroll', (e) => {
                var opacity = 0.0;
                if (window.scrollY < videoElement.offsetHeight) {
                    opacity = (videoElement.offsetHeight - (window.scrollY * 4.0)) / videoElement.offsetHeight;
                }
                opacity = Math.min(0.5, Math.max(0.0, opacity));
                videoElement.style.opacity = opacity;
            });

        });
    </script>

    <body>

        <!-- <video id="splashVideo" muted="" loop="" autoplay="" data-src="images/video/test-header-video" class="visible">
        <source src="images/video/header-video-short.webm">
        <source src="images/video/header-video-short.mp4">
    </video>
    <div id="video-overlay"></div> -->

        <div class="container">

            <header>

                <aside>
                    <!-- <h3 class="inverted">Owen Hindley</h3> -->
                    <p>owenhindley at hotmail dot com<br/>
                    +354 762 0292<br/>
                    @owenhindley</p>

                    <a class="social-link" id="github-link" href="https://github.com/owenhindley" target="_blank">g</a>
                    <a class="social-link" id="instagram-link" href="https://www.instagram.com/owenhindley/" target="_blank">i</a>
                </h6>
            </aside>

            <nav>
                <label onclick="OnNavChange('all')">
                    <input type="radio" name="nav" id="check-all" checked></input>
                    <span>All</span>
                </label>
                <label onclick="OnNavChange('works')">
                    <input type="radio" name="nav" id="check-works"></input>
                    <span>Works</span>
                </label>
                <label onclick="OnNavChange('collaboration')">
                    <input type="radio" name="nav" id="check-collaboration"></input>
                    <span>Commercial</span>
                </label>
                <label onclick="OnNavChange('blogposts')">
                    <input type="radio" name="nav" id="check-blogposts"></input>
                    <span>Articles</span>
                </label>
                <label onclick="OnNavChange('talks')">
                    <input type="radio" name="nav" id="check-talks"></input>
                    <span>Talks &amp; Education</span>
                </label>
                <label onclick="OnNavChange('archive')">
                    <input type="radio" name="nav" id="check-archive"></input>
                    <span>Archive</span>
                </label>
                <label onclick="OnNavChange('about')">
                    <input type="radio" name="nav" id="check-about"></input>
                    <span>About</span>
                </label>
            </nav>

            <div class="taglines">
                <p>Hi there! I'm Owen.<br/>
                I'm a creative, a developer and an artist.<br/>
                I create work for spaces, screens and stages,<br/>
                Collaborations from small to very large.
            </p>
            </div>
            <!-- <p>I've created VR theatre, interactive music experiences, an enormous game of PONG, a pinata-smashing robot, music videos, and video games.</p> -->
            <!-- <p>Here's the story so far :</p> -->

        </header>

        <main class="all">

            {% assign works = collections.article | where : "data.class",
            "works" | sort : 'data.endDate' | reverse %}
            {% assign performances = collections.article | where : "data.class",
            "performance" | sort : 'data.endDate' | reverse %}
            {% assign collaboration = collections.article | where : "data.class",
            "collaboration" | sort : 'data.endDate' | reverse %}
            {% assign talks = collections.article | where : "data.class",
            "talks" | sort : 'data.endDate' | reverse %}
            {% assign archive = collections.archive | sort : 'data.endDate' | reverse %}
            {% assign blogposts = collections.blogpost | sort : 'data.endDate' | reverse %}

            {% assign allProjects = works | concat: collaboration | sort : 'data.endDate' | reverse %}
            {% assign featured = allProjects | where : "data.featured" %}

            <section class="all">
                <header>
                    <h6 class="inverted">
                        <strong>All Projects</strong>
                    </h6>
                    <!-- <p>These are pieces which I've either directed myself or been part of the main creative team.</p> -->
                </header>
                <div class="article-collection">

                    {% for article in allProjects %}
                        <article id="{{article.data.id}}" class="all {% if article.data.featured %}featured{%endif%}">
                            <a href="/{{article.data.id}}">
                                <div class="thumbImg" style="background-image:url(images/projects/thumbs/{{article.data.id}}-thumb.jpg);"></div>

                                <header>

                                    <h4>{{article.data.title}}</h4>
                                    <summary>{{article.data.summary}}</summary>
                                    <summary>{{article.data.when}}</summary>

                                </header>

                            </a>

                        </article>
                    {% endfor %}
                </div>
            </section>

            <section class="works">
                <header>
                    <h6 class="inverted">
                        <strong>Works &amp; Performances</strong>
                    </h6>
                    <!-- <p>These are pieces which I've either directed myself or been part of the main creative team.</p> -->
                </header>
                <div class="article-collection">

                    {% for article in works %}
                        <article id="{{article.data.id}}" class="{{article.data.class}} {% if article.data.featured %}featured{%endif%}">
                            <a href="/{{article.data.id}}">
                                <div class="thumbImg" style="background-image:url(images/projects/thumbs/{{article.data.id}}-thumb.jpg);"></div>

                                <header>

                                    <h4>{{article.data.title}}</h4>
                                    <summary>{{article.data.summary}}</summary>
                                    <summary>{{article.data.when}}</summary>

                                </header>

                            </a>

                        </article>
                    {% endfor %}
                </div>
            </section>

            <section class="collaboration">
                <header>
                    <h6 class="inverted">
                        <strong>Collaborations &amp; Commercial</strong>
                    </h6>
                    <p>More commercial projects where I've been brought in as a contractor or collaborator, often on the technical side of things.</p>
                </header>
                <div class="article-collection">
                    {% for article in collaboration %}
                        <article id="{{article.data.id}}" class="{{article.data.class}} {% if article.data.featured %}featured{%endif%}">
                            <a href="/{{article.data.id}}">
                                <div class="thumbImg" style="background-image:url(images/projects/thumbs/{{article.data.id}}-thumb.jpg);"></div>

                                <header>

                                    <h4>{{article.data.title}}</h4>
                                    <summary>{{article.data.summary}}</summary>
                                    <summary>{{article.data.when}}</summary>
                                    <summary>{{article.data.role}}</summary>
                                    <summary>{{article.data.skills}}</summary>

                                </header>

                            </a>

                        </article>
                    {% endfor %}
                </div>
            </section>

            <section class="blogpost">
                <header>
                    <h6 class="inverted">
                        <strong>Articles &amp; Tutorials</strong>
                    </h6>
                </header>
                <div class="article-collection">
                    {% for post in blogposts %}
                        <article id="{{article.data.id}}" class="{{article.data.class}} {% if article.data.featured %}featured{%endif%}">
                            <a href="/{{article.data.id}}">
                                <div class="thumbImg" style="background-image:url(images/projects/thumbs/{{article.data.id}}-thumb.jpg);"></div>

                                <header>

                                    <h4>{{article.data.title}}</h4>
                                    <summary>{{article.data.summary}}</summary>
                                    <summary>{{article.data.when}}</summary>
                                    <summary>{{article.data.role}}</summary>
                                    <summary>{{article.data.skills}}</summary>

                                </header>

                            </a>

                        </article>

                        <article id="{{post.data.id}}" class="{{post.data.class}} featured">
                            <a href="blog/{{post.data.id}}">
                                <div class="thumbImg" style="background-image:url(images/blog/thumbs/{{post.data.id}}-thumb.jpg);"></div>
                                <header>
                                    <h4>{{post.data.title}}</h4>
                                    <summary>{{post.data.summary}}</summary>
                                    <summary>{{post.data.pubDate}}</summary>
                                </header>
                            </article>
                        {% endfor %}
                    </div>
                </section>

                <section class="talks">
                    <header>
                        <h6 class="inverted">
                            <strong>Talks &amp; Education</strong>
                        </h6>
                        <p>When I've been asked to lecture or run workshops for students or institutions about my work or projects.</p>
                    </header>
                    <div class="article-collection">
                        {% for article in talks %}
                            <article id="{{article.data.id}}" class="{{article.data.class}}">
                                <header>
                                    <h6>{{article.data.title}}</h6>
                                    <summary>{{article.data.summary}}</summary>
                                    <ol>
                                        <li>
                                            <h6>{{article.data.endDate}}</h6>
                                        </li>
                                        <li>
                                            <h6>{{article.data.where}}</h6>
                                        </li>
                                    </ol>
                                </header>
                                {{ "" }}
                            </article>
                        {% endfor %}
                    </div>
                </section>

                <section class="archive">
                    <h6 class="inverted">
                        <strong>Project Archive</strong>
                    </h6>
                    <p>Older projects that define my early career and interests.</p>
                    <div class="article-collection">
                        {% for article in archive %}
                            <article id="{{article.data.id}}" class="{{article.data.class}} featured">
                                <input class="showContent" type="checkbox"></input>
                                <header>
                                    <div class="thumbImg" style="margin:0; width:0; height:2em;"></div>
                                    <h6>{{article.data.title}}</h6>
                                    <summary>{{article.data.summary}}</summary>
                                    <ol>
                                        <li>
                                            <h6>{{article.data.endDate}}</h6>
                                        </li>
                                        <li>
                                            <h6>{{article.data.where}}</h6>
                                        </li>
                                    </ol>
                                </header>
                                {{ "" }}
                            </article>
                        {% endfor %}
                    </div>
                </section>

                <section class="about">
                    <h6 class="inverted">
                        <strong>About &amp; Bio</strong>
                    </h6>
                    <article>
                        <h5>Link to CV : <a href="https://docs.google.com/document/d/e/2PACX-1vSd1JAk3OiWXEYvDNtY49ZzNKxLP-kegM12-3PcGVa7kcZgv6ss3NtjDM3jSfYl_KInMLFNIIHPPcVz/pub">link</a>
                        </a>
                    </h5>
                    <p>Owen (he/him) is a collaborative digital artist, working with software, sound, and electronics for the web, VR, performances, devices and installations.</p>
                    <p>His commercial work has included serving as technical lead on large, cutting-edge projects for clients such as Oculus Studios, Google, Microsoft/Xbox, Samsung and Mercedes, collaborating with digital creatives such as Universal Everything, FIELD and B-Reel. These projects have ranged from an interactive web-connected musical installation at the London Science Museum for Google, Web Lab, to a pneumatic live-streamed pinata-smashing robot.</p>
                    <p>He is co-founder of <a href="http://huldufugl.is" target="_blank">Huldufugl</a>, a Reykjavik-based theatre and events company experimenting with new mediums in theatre, both technological and immersive.</p>
                    <p>He is also co-founder of Horizons Studio, a London-based creative studio producing interactive musical experiences in VR. Their debut title, Horizons VR was commissioned by Google as a launch title for their Daydream platform, with releases on Oculus and HTC platforms planned for 2019.</p>
                    <p>He was also Sound Supervisor and on-set sound recordist on two short independent films, The Fallow Field and Who We Are, and sound editor on the Subsource Dubumentary.</p>
                    <p></p>

                    <h6>Awards</h6>
                    <ul>

                        <li>Most Amazing Game Award, Kassinn / A Box In The Desert, <a href="https://amazestuff.tumblr.com/post/184139013534/a-maze-berlin-2019-award-winners" target="_blank">A MAZE Berlin 2019</a>
                        </li>
                        <li>Best Interactive Narrative Experience, Kassinn / A Box In The Desert, <a href="https://raindance.org/raindance-immersive-award-winners-presented-by-bose/" target="_blank">Raindance Immersive 2019</a>
                        </li>
                        <li>Outstanding US Premiere, Kassinn / A Box In The Desert, <a href="https://sdfringe.org/" target="_blank">San Diego Fringe Festival</a>
                        </li>
                        <li>Innovation In Performance Award, Kassinn / A Box In The Desert, <a href="https://www.facebook.com/Stoffholm/photos/now-and-then-we-come-across-work-that-takes-it-that-extra-lap-intotheunknown-by-/10155501339495855/" target="_blank">Stockholm Fringe Festival 2018</a>
                        </li>

                        <li>Site Of The Month, Mmorph, <a href="https://thefwa.com/cases/mmorph" target="_blank">FWA 2016</a>
                        </li>
                        <li>FWA Insights, Mmorph, <a href="https://thefwa.com/article/insights-mmorph" target="_blank">FWA 2016</a>
                        </li>
                        <li>Honorable Mention, Mmorph, <a href="https://www.awwwards.com/sites/mmorph" target="_blank">Awwwards 2016</a>
                        </li>

                    </ul>
                    <h6>Nominations</h6>
                    <ul>
                        <li>Best Immersive Performance (Nomination), Parallel People, <a href="https://raindance.org/wp-content/uploads/2022/09/2022-Raindance-Immersive-FINAL.pdf" target="_blank">Raindance Immersive 2022</a>
                        </li>
                        <li>Sproti Ársins (Nomination), Kassinn / A Box In The Desert, <a href="https://www.fil.is/frettir/1551/" target="_blank">Gríman (Icelandic Theatre Awards) 2020</a>
                        </li>
                        <li>Grand Prix (Nomination), Kassinn / A Box In The Desert, Stockholm Fringe Festival 2018</li>
                        <li>People's Choice Award (Nomination), Mmorph, <a href="https://thefwa.com/editorial/the-fwa-peoples-choice-award-pca-2016-vote-now" target="_blank">FWA 2018</a>
                        </li>
                    </ul>

                    <h6>Links</h6>
                    <ul>
                        <li>
                            <a href="https://github.com/owenhindley/" target="_blank">Github</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/owen_hindley" target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/owenhindley/" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.imdb.com/name/nm3918183" target="_blank">IMDB</a>
                        </li>
                    </ul>
                    <h6>Recent Employment history</h6>
                    <ul>
                        <li>2014-current Freelance Creative Technologist & Digital Artist</li>
                        <li>2020-2021 Senior Developer, <a href="https://volta-xr.com/" target="_blank">Volta XR</a>
                        </li>
                        <li>2011-2014 Senior Developer, <a href="https://www.b-reel.com/" target="_blank">B-Reel London</a>
                        </li>
                    </ul>

                </article>

            </section>

        </main>
        <footer>
            <p>Owen Hindley, 2024</p>

        </footer>

    </div>
</body>