/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #BF7582; }

.c1 {
  color: #3B82BF; }

.c2 {
  color: #F2D194; }

.c3 {
  color: #D99E6A; }

.c4 {
  color: #F2F2F2; }

@keyframes colourCycle {
  0% {
    color: #BF7582; }
  50% {
    color: #3B82BF; }
  100% {
    color: #BF7582; } }

.slideshow {
  width: 100%;
  text-align: center;
  background-color: black;
  border: 1px solid #f5f5f5;
  border-radius: 2px; }
