/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: white; }

.c1 {
  color: white; }

.c2 {
  color: white; }

.c3 {
  color: white; }

.c4 {
  color: white; }

.inverted {
  background-color: white;
  color: #0d0d0d; }

@keyframes colourCycle {
  0% {
    color: white; }
  50% {
    color: white; }
  100% {
    color: white; } }

.slideshow {
  width: 100%;
  text-align: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 2px; }
