/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #bf7582; }

.c1 {
  color: #3b82bf; }

.c2 {
  color: #f2d194; }

.c3 {
  color: #d99e6a; }

.c4 {
  color: #f2f2f2; }

.inverted {
  background-color: #1f1f1f;
  color: #f7fcf6; }

@keyframes colourCycle {
  0% {
    color: #f2f2f2; }
  50% {
    color: #3b82bf; }
  100% {
    color: #f2d194; } }

.slideshow {
  width: 100%;
  text-align: center;
  background-color: black;
  border: 1px solid #1f1f1f;
  border-radius: 2px; }
