/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #a69960; }

.c1 {
  color: #BF4539; }

.c2 {
  color: #F29849; }

.c3 {
  color: #F2D0A7; }

.c4 {
  color: #F24B4B; }

@keyframes colourCycle {
  0% {
    color: #a69960; }
  50% {
    color: #BF4539; }
  100% {
    color: #a69960; } }

.slideshow {
  width: 100%;
  text-align: center;
  background-color: black;
  border: 1px solid #f5f5f5;
  border-radius: 2px; }
