/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
.c0 {
  color: #a69960; }

.c1 {
  color: #BF4539; }

.c2 {
  color: #F29849; }

.c3 {
  color: #F2D0A7; }

.c4 {
  color: #F24B4B; }

@keyframes colourCycle {
  0% {
    color: #a69960; }
  50% {
    color: #BF4539; }
  100% {
    color: #a69960; } }

h1, h2, h3, h4 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-shadow: 0px 1px 2px #a69960; }

h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em; }

h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 80%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  display: block;
  line-height: 1.1em; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 64px;
  clear: none; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 24px; }

h6 {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 1.25em;
  margin-top: 1px;
  font-weight: bold; }

a {
  color: #a0a0a0;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #6d6d6d; }
