@font-face {
  font-family: 'vtf_victoriannaitalic';
  src: url("../fonts/vtf_victorianna_thin_talic-webfont.eot");
  src: url("../fonts/vtf_victorianna_thin_talic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vtf_victorianna_thin_talic-webfont.woff") format("woff"), url("../fonts/vtf_victorianna_thin_talic-webfont.ttf") format("truetype"), url("../fonts/vtf_victorianna_thin_talic-webfont.svg#vtf_victoriannaitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'vtf_victoriannathin';
  src: url("../fonts/vtf_victorianna_thin-webfont.eot");
  src: url("../fonts/vtf_victorianna_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vtf_victorianna_thin-webfont.woff") format("woff"), url("../fonts/vtf_victorianna_thin-webfont.ttf") format("truetype"), url("../fonts/vtf_victorianna_thin-webfont.svg#vtf_victoriannathin") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3 {
  font-family: "vtf_victoriannathin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-shadow: 1px 0px 0px #3502ff; }

h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em; }

h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 80%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  display: block;
  line-height: 1.1em; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 64px;
  clear: none; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 24px; }

h6 {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 1.25em;
  margin-top: 1px;
  font-weight: bold; }

a {
  color: #a0a0a0;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #6d6d6d; }
